#login_dropdown {
    color: #BA90C6;
    margin-left: -250px;
    margin-top: 20px;
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    align-items: center;
    border-radius: 6px;
    height: 526px;
    width: 415px;
    animation-direction: none;
    animation: loginClick 500ms ease-in-out 0s;


}


.login_header {
    color: #30475e;
    display: flex;
    flex-direction: column;
    padding-left: 23px;
}


.login_icon {
    color: #30475e(186, 144, 198, 1);
    color: linear-gradient(180deg, rgba(186, 144, 198, 1) 50%, rgb(38, 23, 30) 50%);
    font-size: 32px;
    font-weight: bolder;
    padding-top: 10px;
}

.login_message {
    margin-top: -17px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

#login_dropdown form {
    padding: 15px;
}

#login_dropdown input[type="text"],
#login_dropdown input[type="password"],
#login_dropdown button {
    font-size: 15px;
    border-radius: 6px;
    border: none;
    margin: auto;
    display: block;
    padding: 10px;

}

#login_dropdown input[type="text"],
#login_dropdown input[type="password"] {
    border: 2px solid #f1f1f1;
    width: 349px;
    margin-bottom: 23px;
}

#login_dropdown button[type='submit'] {
    margin-top: 30px;
    width: 369px;
    background-color: #30475e;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}


#login_dropdown button[type='submit']:hover {
    background-color: #F2D7D9;
    color: #30475e;
    animation: login_submit_ani 100ms ease 0s 1 normal forwards;

}

@keyframes login_submit_ani {
    0% {
		transform: translate(0);
	}

	20% {
		transform: translate(2px, -2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	60% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}


.forgot-password {
    display: flex;
    flex-direction: row-reverse;

}
.forgot-password a {
    color: #9CB4CC;
    font-size: 15px;
    margin-right: 8px;
}


#sign-up {
    font-weight: bolder;
}

#login {
    background-color: #30475e;
    margin-left: 90px;
    color: #F2D7D9;
    padding: 6px;
    border-radius: 6px;
    align-items: end;
    font-weight: bolder;
}

#login:hover {
    background-color: #9CB4CC;
}

@keyframes loginClick {
	0% {
		transform: scaleY(0);
		transform-origin: 100% 0%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 100% 0%;
	}
}

.register-state-login {
    opacity: 0%;
    width: 412px;
    height: 68px;
    display: flex;
    position: absolute;
    background: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    bottom: 0;
    animation: register-state-login-anim 400ms ease 1s 1 normal forwards;
    flex-direction: column;
}

.text-no-account {
    font-weight: 400;
    color: #30475e;
    align-items: center;
    margin-top: -40px;
}

.register-link {
    color: #30475e;
    margin-top: -20px;
    text-decoration: underline;
    cursor: pointer;

}



@keyframes register-state-login-anim {
	0% {
		transform: scaleY(0);
		transform-origin: 0% 100%;
        opacity: 0%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 0% 100%;
        opacity: 100%;
	}
}