.random1 {
  display: grid;
  grid-area: 2 / 2 / 3 /3;

}

.random2 {
  display: grid;
  grid-area: 2 / 4 / 3 /5;
 
}
.random3 {
  display: grid;
  grid-area: 2 / 6 / 3 /7;
 
}
.random4 {
  display: grid;
  grid-area: 2 / 8 / 3 /9;
 
}
.random5 {
  display: grid;
  grid-area: 2 / 10 / 3 /11;

}
.random6 {
  display: grid;
  grid-area: 2 / 12 / 3 /13;
 
}

.random7 {
  display: grid;
  grid-area: 2 / 2 / 3 /3;
  
}

.random8 {
  display: grid;
  grid-area: 2 / 4 / 3 /5;
}
.random9 {
  display: grid;
  grid-area: 2 / 6 / 3 /7;
}
.random10 {
  display: grid;
  grid-area: 2 / 8 / 3 /9;

}
.random11 {
  display: grid;
  grid-area: 2 / 10 / 3 /11;

}
.random12 {
  display: grid;
  grid-area: 2 / 12 / 3 /13;
 
}

.random13 {
  display: grid;
  grid-area: 2 / 2 / 3 /3;

}

.random14 {
  display: grid;
  grid-area: 2 / 4 / 3 /5;

}
.random15 {
  display: grid;
  grid-area: 2 / 6 / 3 /7;
 
}
.random16 {
  display: grid;
  grid-area: 2 / 8 / 3 /9;

}
.random17 {
  display: grid;
  grid-area: 2 / 10 / 3 /11;

}
.random18 {
  display: grid;
  grid-area: 2 / 12 / 3 /13;

}

.random19 {
  display: grid;
  grid-area: 2 / 2 / 3 /3;
 
}

.random20 {
  display: grid;
  grid-area: 2 / 4 / 3 /5;

}
.random21 {
  display: grid;
  grid-area: 2 / 6 / 3 /7;

}
.random22 {
  display: grid;
  grid-area: 2 / 8 / 3 /9;

}
.random23 {
  display: grid;
  grid-area: 2 / 10 / 3 /11;

}
.random24 {
  display: grid;
  grid-area: 2 / 12 / 3 /13;
}


.text-random1 {
  grid-area: 3/2/5/3;
  text-align: center;
}

.text-random2 {
  grid-area: 3/4/5/5;
  text-align: center;
}

.text-random3 {
  grid-area: 3/6/5/7;
  text-align: center;
}

.text-random4 {
  grid-area: 3/8/5/9;
  text-align: center;
}


.text-random5 {
  grid-area: 3/10/5/11;
  text-align: center;
}

.text-random6 {
  grid-area: 3/12/5/13;
  text-align: center;
}


.text-random7 {
  grid-area: 3/2/5/3;
  text-align: center;
}

.text-random8 {
  grid-area: 3/4/5/5;
  text-align: center;
}

.text-random9 {
  grid-area: 3/6/5/7;
  text-align: center;
}

.text-random10 {
  grid-area: 3/8/5/9;
  text-align: center;
}


.text-random11 {
  grid-area: 3/10/5/11;
  text-align: center;
}

.text-random12 {
  grid-area: 3/12/5/13;
  text-align: center;
}


.text-random7 {
  grid-area: 3/2/5/3;
  text-align: center;
}

.text-random8 {
  grid-area: 3/4/5/5;
  text-align: center;
}

.text-random9 {
  grid-area: 3/6/5/7;
  text-align: center;
}

.text-random10 {
  grid-area: 3/8/5/9;
  text-align: center;
}


.text-random11 {
  grid-area: 3/10/5/11;
  text-align: center;
}

.text-random12 {
  grid-area: 3/12/5/13;
  text-align: center;
}


.text-random13 {
  grid-area: 3/2/5/3;
  text-align: center;
}

.text-random14 {
  grid-area: 3/4/5/5;
  text-align: center;
}

.text-random15 {
  grid-area: 3/6/5/7;
  text-align: center;
}

.text-random16 {
  grid-area: 3/8/5/9;
  text-align: center;
}


.text-random17 {
  grid-area: 3/10/5/11;
  text-align: center;
}

.text-random18 {
  grid-area: 3/12/5/13;
  text-align: center;
}


.text-random19 {
  grid-area: 3/2/5/3;
  text-align: center;
}

.text-random20 {
  grid-area: 3/4/5/5;
  text-align: center;
}

.text-random21 {
  grid-area: 3/6/5/7;
  text-align: center;
}

.text-random22 {
  grid-area: 3/8/5/9;
  text-align: center;
}


.text-random23 {
  grid-area: 3/10/5/11;
  text-align: center;
}

.text-random24 {
  grid-area: 3/12/5/13;
  text-align: center;
}

.name-random1 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random2 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random3 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random4 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random5 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random6 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random7 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random8 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random9 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random10 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random11{
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random12 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random13 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random14 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random15 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random16 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random17 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random18 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random19 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random20 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random21 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random22 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random23 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name-random24 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.cate-random1 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random2 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random3 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random4 {
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random5 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random6 {
  text-align: center;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random7 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random8 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random9 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random10 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random11{
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random12 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random13 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random14 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random15 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random16 {

  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random17 {

  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random18 {
 
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random19 {

  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random20 {
  
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random21 {

  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random22 {
  
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random23 {
  
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.cate-random24 {
  text-align: center;
  margin-top: -2%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(92, 92, 92);
}

.img-random1 {
  display: block;
}