.content {
    display: grid;
    position: relative;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 1250px;
    grid-template-rows: 120px 120px 120px 125px  ;
    grid-template-columns: 125px 125px 125px 20px 125px 125px 125px 125px 125px 125px 104px  ;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content2 {
    display:grid;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 1249px;
    max-height: 323px;
    grid-template-rows: 39px 180px 31px 31px 42px;
    grid-template-columns: 43px 125px 83px 125px 83px 125px 83px 125px 83px 125px 83px 125px 43px ;
    background-color: rgb(255, 255, 255);
    
}

.content3 {
    display:grid;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 1249px;
    max-height: 323px;
    grid-template-rows: 39px 180px 31px 31px 42px;
    grid-template-columns: 43px 125px 83px 125px 83px 125px 83px 125px 83px 125px 83px 125px 43px ;
    background-color: rgb(255, 255, 255);
    
}

.content4 {
    display:grid;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 1249px;
    max-height: 323px;
    grid-template-rows: 39px 180px 31px 31px 42px;
    grid-template-columns: 43px 125px 83px 125px 83px 125px 83px 125px 83px 125px 83px 125px 43px ;
    background-color: rgb(255, 255, 255);
    
}



