

.navbout { /***********/
    padding: 0 30px;
    max-width: 1250px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.nameAb1 {
    /*margin-bottom:640px;*/
    margin-left: 20px;
    margin-top: -150px;
}
.nameAb1 a {
    color: #000000;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    margin-left: 30px;
}
.docsite {
    position: relative;
    left: 150px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.navbox {
    width: 500px;
    height: 100px;
    background-color: #E8A0BF; 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -180px;

}
.navbox p1 {
    color: #FDF4F5;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    list-style-type: none;
    margin: 15px
}
.navbox p2 {
    color: #FDF4F5;
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
}
.realdoc {
    color: #30475e;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    width: 520px;
    /*overflow: hidden;*/
    margin-left: -170px;
}
.nameAb2 {
    /*margin-right: 800px;*/
    margin-top: 25px;
    margin-left: -800px;
}
.nameAb2 a {
    color: #000000;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    margin-left: 70px; 
}
.docteam {
    list-style-type: none;
    position: relative;
}
.ploybox {
    width: 400px;
    height: 80px;
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.ploybox img {
    border-radius: 15px;
}

.ploybox h1 {
    color: #30475e; 
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
.ploybox p {
    color: #30475e; 
    text-decoration: none;
    font-size: 1.1em;
    font-weight: normal;
}
.pname {
    margin-left: 150px;
    margin-top: -90px;
}
.guybox {
    width: 400px;
    height: 80px;
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;
}
.guybox h1 {
    color: #30475e; 
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
.guybox p {
    color: #30475e; 
    text-decoration: none;
    font-size: 1.1em;
    font-weight: normal;
}
.guybox img {
    border-radius: 15px;
}
.gname {
    margin-left: 150px;
    margin-top: -90px;
}
.trinbox {
    width: 400px;
    height: 80px;
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;
}
.trinbox h1 {
    color: #30475e; 
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
.trinbox p {
    color: #30475e; 
    text-decoration: none;
    font-size: 1.1em;
    font-weight: normal;
}
.trinbox img {
    border-radius: 15px;
}
.tname {
    margin-left: 150px;
    margin-top: -90px;
}